body {
    font-family: Helvetica, 'PingFang SC';
    /*font-family: Optima, Candara, Calibri, Arial, sans-serif;*/
}

code {
    font-family: 'Fira Code';
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-size: 85%;
}
